backend/node_modules

frotend/node_modules
frotend/.pnp
frotend/.pnp.js

frotend/coverage

frotend/build

frotend/.DS_Store
frotend/.env.local
frotend/.env.development.local
frotend/.env.test.local
frotend/.env.production.local

frotend/npm-debug.log*
frotend/yarn-debug.log*
frotend/yarn-error.log*